.label {
  display: flex;
  flex-direction: column;
  width: 230px;
  align-items: center;
  font-size: 20px;
  margin-bottom: 5px;
  margin-bottom: 5px;

  color: #ffffff;
}

.input {
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
}
