body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url(./images/telefonnogoApparata.jpg); */
  /* background-image: url(./images/173e11b5462d86831a06bdd29d158ec6.jpg); */
  background-image: url(./images/8930253864990.png);
  background-repeat: no-repeat;

  /* background-position: -50px -300px; */
  background-position: 50% 50%;
  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
